* {margin: 0; padding: 0;
  font-family: Arial, sans-serif;
  font-size: 13px;
    }

.navbar-link {
    color: rgba(0, 0, 0, 0.75);
    text-decoration: none;
}

.navbar-link:hover {
    text-decoration: underline;
}


ol {
    display: inline-block;
}

li {
    display: inline-block;
    list-style-type: none;
    padding: 0 5px;
    font-size: 13px;
}

.navbar {
    float: right;
    margin-right: 30px;
    margin-top: 20px;
}

#sign-in-button {
    background-color: #4285f4;
    font-weight: bold;
    color: white;
    border-radius: 2px;
    line-height: 28px;
    padding: 0 12px;
}

#apps {
    opacity: .55;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    padding: 0 5px;
}

#apps:hover {
    opacity: 1;
}

.logo-container {
    clear: right;
    height: 92px;
    width: 272px;
    background-image: url("../Assets/googlelogo.png");
    background-repeat: no-repeat;
    background-size: 272px  92px;
    background-position: bottom center;
    margin: 0 auto;
    padding-top: 150px;

}

.logo-location {
    display: block;
    margin-top: 74px;
    float: right;
    color: #4285f4;
    font-family: Roboto, arial, sans-serif;
    font-size: 16px;
}

.footer {
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    background-color: #f2f2f2;
    line-height: 40px;
}

.footer-link {
    color: rgba(0, 0, 0, 0.75);
    text-decoration: none;
    padding: 5px 5px;
}

#first-left-footer-link {
    padding-left: 35px;
}

#first-right-footer-link {
    padding-right: 35px;
}

.footer-link:hover {
    text-decoration: underline;
}

.right-footer-links {
    postion: relative;
    float: right;
}

.search-form {
    width: 500px;
    height: 130px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

#searchbar-border {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    border-radius: 2px;
    height: 44px;
    width: 484px;
    margin-left: auto;
    margin-right: auto;
}

#searchbar-container {
    box-sizing: border-box;
    width: 439px;
    height: 44px;
    display: inline-block;
}

#searchbar {
    padding-left: 15px;
    border: none;
    width: 95%;
    line-height: 44px;
}

#searchbar:focus {
    outline-style: none;
}

#voice-button {
    box-sizing: border-box;
    width: 44px;
    height: 44px;
    display: inline-block;
    float: right;
    background-image: url("../Assets/google-voice.png");
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: center center;
}

.search-button {
    border: 1px solid rgb(242, 242, 242);
    background-color: rgb(242, 242, 242);
    background-image: -webkit-linear-gradient(top, rgb(245, 245, 245), rgb(241, 241, 241));
    font-weight: bold;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    margin: 11px 4px;
    padding: 0 16px;
    color: rgba(0, 0, 0, 0.60);
}

.search-button:hover {
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}
